/* CSS declarations go here */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #ef1916;
}

.logo{
    width: 150px;
}
h2{
    text-align: center;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0px;
    color: black;
}
.lead_container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lead_item{

    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 50%;
}
.profile_container{
    padding-left: 25px;
}
.profile_pic{
    border: 1px solid;
    border-color: #e5e5e5;

}

.next{
    transform: scale(0.9);
}
.pre{
    transform: scale(0.9);
}

.name{
    font-size: 1.5em;
    font-weight: 700;;
}
.result_container
{
    margin-left: auto;
}
.position{
    font-size: 1.5em;
    margin-right: 10px;
    font-weight: 700;;
    color: black;
}

.avg{
    font-size: 1.5em;
}

.screen_name{
    color: black;
}



form {
    border-radius: 1.5em;
    position: relative;
    height: 3em;
    margin: 2em auto;
    max-width: 30em;
    overflow: hidden;
    width: 95%;
    font-size: 18px;
    color: black;
}

input {
    border: none;
    height: 100%;
}
input:focus {
    outline: none;
}

input[type="text"] {
    padding: 0 6em 0 1em;
    width: 100%;
}


input.input2[type="submit"] {
    right: -5em;
    transition: 0.5s;
}


.shareBtn{
    align-self: center;
    text-align: center;
    flex-direction: row;
}

.lm-social-share-facebook:before{
    content: "\f09a";
    font-family: FontAwesome;
    padding-right: 10px;
    padding-left: 20px;


}
.lm-social-share-twitter:before{
    content: "\f099";
    font-family: FontAwesome;
    padding-right: 10px;
    padding-left: 20px;
}
.lm-social-share-twitter{
    display: inline-flex;
}
.lm-social-share-facebook{
    display: inline-flex;
}